#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  margin-top: 30px;
}

.page {
  width: 850px;
  height: 1100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  color: black;
}

form {
  min-width: 500px;
  margin: 30px;
  background-color: #61dafbaa;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.email {
  margin-top: -20px;
}

.phone {
  margin-bottom: 20px;
}

h2 {
  color: white;
  text-align: start;
  padding-top: 8px;
  margin-left: 20px;
}

.education,
.experience {
  text-align: start;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 20px;
}

.description {
  grid-column: 1 / 3;
  font-size: 16px;
}

.date {
  text-align: end;
  font-size: 18px;
  padding-top: 10px;
}

.title {
  font-size: 14px;
  margin-top: -4px;
  margin-bottom: 10px
}

h3 {
  width: 90%;
  text-align: start;
  font-size: 24px;
  margin-bottom: 0;
}

.divider {
  background-color: pink;
  height: 5px;
  width: 90%;
  border-radius: 50%;
}

.input-container {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 1fr 1fr;
}

input {
  max-height: 16px;
}

.date-container {
  max-width: 230px;
}

button {
  margin: 10px;
}

.description-input {
  grid-column: 1 / 3;
  width: 85%;
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  min-height: 100px;
  padding: 8px;
}